<!DOCTYPE html>
<html>
  <head>
    <title>MyMercari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-logo">
          <a href="/">My Mercari</a>
        </div>
        <div class="header-menu">
          <ul>
            <li><%= link_to("新規登録", "/signup", {class: "signup"}) %></li>
            <li><%= link_to("ログイン", "/login", {class: "login"}) %></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </header>
    <%= yield %>
    <footer>
      <div class = "container">
        <div class="footer-logo">
          <a href="/">My Mercari</a>
        </div>
        <div class="footer-menu">
          <ul>
            
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
